<div class="chack-in-main-container login">
    <div class="login-form-container">
        <div class="login-box-container">
            <h2> <span>Student</span> Information</h2>
            <!--<div class="userProfile">
                <img src="/app/img/Group%2094.png" alt="">
            </div>-->
<div class="login-box-form">
        <!--<div class="form-group">
            <input type="text" class="form-control" id="userName1" placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password1" placeholder="Password" />
        </div>-->
    <form data-ng-submit="loginSubmit()">
        <div class="login-bttn">
            <button type="submit" class="btn btn-primary" style="width: 50%;">Go to Dashboard</button>
        </div>
    </form>
</div>
        </div>
    </div>
</div>
